.nav-menu {
    background-color: #ecf5fa;

    li {
        list-style-type: none;
        display: inline-block;
        padding: 10px;
    }

    li a::after {
        font:14px FontAwesome;
        padding-left: 5px;
        content: '\f0d7';
    }

    li:last-child a::after {
        content: '';
    }

    li:hover {
        transition: all 1s ease;
        cursor: pointer;
        background-color: #7c43ac;
        a {
            color: white;
            transition: all 0.75s ease;
        }
    }
}
